@import "https://fonts.googleapis.com/css2?family=Open+Sans&display=swap";
//background colors
$background-white: #ffffff;
$background-gray: #fafafa;

//font colors
$font-color-black: #262626;
$font-color-gray: #8e8e8e;

//border
$border-color-gray: #dbdbdb;

//font
$font: "Montserrat", sans-serif;
